.header {
  background-color: var(--cor-12);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
}

.nav__link {
  display: inline-block;
  padding: 1rem 0;
  position: relative;
}

.nav__link::after {
  content: "";
  display: block;
  background-color: var(--cor-0);
  height: 0.125rem;
  width: 0;
  transition: 0.3s;
  position: absolute;
}

.nav__link:hover:after {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .nav__list {
    gap: 1.25rem;
  }

  .nav__link {
    background-color: var(--cor-11);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
  }

  .nav__link:hover {
    background-color: var(--cor-10);
  }

  .nav__link::after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav__list {
    gap: 0.75rem;
  }

  .nav__link {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
}
