.hero {
  background-color: var(--cor-12);
  box-shadow: inset 0 -7.5rem 0 0 var(--cor-0);
}

.hero__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  gap: 0 2.5rem;
}

.hero__data {
  padding-bottom: 12.5rem;
}

.hero__title {
  margin-bottom: 2rem;
}

.hero__subtitle {
  margin-bottom: 1.25rem;
}

.hero__image {
  height: 100%;
}

.hero__image img {
  height: 100%;
  object-fit: cover;
  object-position: top;
}

@media screen and (max-width: 800px) {
  .hero {
    background-color: var(--cor-11);
    box-shadow: inset 0 -3.75rem 0 0 var(--cor-0);
  }

  .hero__content {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .hero__data {
    padding-bottom: 0;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

  .hero__title {
    margin-bottom: 1rem;
  }

  .hero__image img {
    height: 300px;
  }

  .hero__image img {
    width: 100%;
    object-position: center;
  }
}
